<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{request.static_url('pyrup:static/pyramid-16x16.png')}}">

    <title>Pyrup - {% block title %}{% endblock title %}</title>

    <link href="{{request.static_url('pyrup:static/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{request.static_url('pyrup:static/theme.css')}}" rel="stylesheet">
    <script type="text/javascript" src="/static/js/common.js"></script>
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    <div class="starter-template">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            {% if request.user is none %}
            <p class="pull-right">
                <a href="{{ request.route_url('login') }}">ログイン</a>
            </p>
            {% else %}
            <p class="pull-right">
                {{request.user.name}} <a href="{{request.route_url('logout')}}">ログアウト</a>
            </p>
            {% endif %}
            {% block content %}
            {% endblock content %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
