{% extends 'layout.jinja2' %}

{% block title %}サイト一覧{% endblock title %}

{% block head %}
<script tyep="text/javascript">
    function removeSite(site_id) {
        var elem = document.getElementById("remove_site_id");
        elem.value = site_id;
        return confirmRemove();
    }
</script>
{% endblock head %}

{% block content %}
{% if site_list | first %}
<p><strong>サイト一覧</strong></p>
<form action="/site/list" method="POST">
    <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">
    <input type="hidden" id="remove_site_id" name="remove_site_id" value="" />
    <table>
    {% for site in site_list %}
        <tr>
            <td>
                <li><a href="/page/list?site_id={{ site.id }}">{{ site.name }}</a></li>
            </td>
            <td align="center">
                　<input type="button" value="編集" onclick="moveSiteEdit({{ site.id }}); return false;" />
                <input type="submit" name="site_remove" value="削除" onclick="return removeSite({{ site.id }});" />
            </td>
        </tr>
    {% endfor %}
    </table>
</form>
{% else %}
<p>サイトが登録されていません。</p>
{% endif %}
<br><br>
<input type="button" value="サイト追加" onclick="moveSiteAdd(); return false;" />
{% endblock content %}
